---
layout: base
class: home
---

<style>
    :root {
        --slide-count: {{home.hero_images | size | plus: 1 }}
    }
</style>

<header class="home-hero">
    <div class="hero-copy">
        <h1>{{settings.site_title | split: " " | join: "<br>" | safe}}</h1>
        <span>Coming Soon</span>
    </div>
    <div class="hero-slides" style="width: {{home.hero_images | size | plus: 1 | times: 100}}vw">
        {% for slide in home.hero_images %}
        <div class="slide" style="background-image: url({{slide.url}})"></div>
        {% endfor %}
        <div class="slide" style="background-image: url({{home.hero_images[0].url}})"></div>
    </div>
</header>

<article class="home-copy">
    {{home.content | renderMarkdown}}
</article>