<!doctype html>
<html lang="en">

<head>
  {% include meta.liquid %}
  <link rel="stylesheet" href=" {{'/css/style.css' | url}}">
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body class='{{class}}'>
  {% unless class == "home"%}
  {% include header.liquid %}
  {% endunless %}
  {{ content | safe }}
  <footer class="site-footer">
    <nav class="footer-nav">
      {% for item in settings.footer_menu %}
    <a href="{{item.url}}" {% if item.target == true%}target="_blank"{% endif %}>{{item.title}}</a>
      {% endfor %}
    </nav>
    © {{"now" | date: "%Y"}} The United Generations
  </footer>
  <div class="lightbox-container">
    <figure class="media-container">
      <figcaption class="lightbox-caption"></figcaption>
    </figure>
  </div>
  <script src="{{'/dist/main.js' | url}}"></script>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>

</html>