<li class="card book-card">
    {{item.data.title }}
    <span class="card--eyebrow">{{item.data.date | date: "%Y"}}</span>
    {% if item.data.featured_image.image and item.data.featured_image.image != "" %}
    <section class="card--image">
        <a {% if item.data.link.url !="" %}href="{{item.data.link.url}}" {%endif%} {% if size == "small" %}style="background-image: url({{item.data.featured_image.image}}?nf_resize=fit&w=800)" {% else %} style="background-image: url({{item.data.featured_image.image}}?nf_resize=fit&w=1000)" {% endif %}>
            <span class="sr">
                {{item.data.featured_image.alt}}
            </span>
        </a>
    </section>
    {% endif %}
    <h2 class="card--title">
        {{item.data.title}}
    </h2>
    <div class="card--copy">
        {{item.data.intro}}
    </div>
    <div class="card--data">
        {% if item.data.link and item.data.link.url != "" %}
        <a class="btn active" href="{{item.data.link.url}}">
            {{item.data.link.text}}
        </a>
        {% endif %}
    </div>
</li>