<li class="card book-card">
    <section class="card--image">
        <img src="{{book.data.featured_image.image}}?nf_resize=fit&w=1000" alt="{{book.data.featured_image.alt}}">
    </section>
    <h2 class="card--title">
        {{book.data.title}}
    </h2>
    <div class="card--copy">
        {{book.data.intro}}
    </div>
    <div class="card--data">
        {% if item.data.link %}
        <a class="btn active" href="{{item.data.link.url}}">
            {{item.data.link.text}}
        </a>
        {% endif %}
    </div>
</li>