---
layout: base
class: research
---

<header class="post--header">
    <p class="post--eyebrow">
        {{content | readingTime }} min read
    </p>
    {% if featured_image %}
    <img class="post--thumbnail" src="{{featured_image.image}}" alt="{{item.data.featured_image.alt}}">
    {% endif %}
    <h2 class="post--title">{{title}}</h2>
    <section class="post--intro">
        {{introduction}}
    </section>
</header>

<nav class="chapter--nav">
    <ul>
        {% for item in collections.research %}
        <li {% if item.data.title==title%}class="current" {%endif%}>
            <a href="{{item.url}}">
                <span class="index">0{{forloop.index}}</span>{{item.data.title}}
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>
<main class="post--content">
    {{content}}
</main>