<li class="card event" data-tags="{{item.data.eyebrow | slug}}" data-date="{{item.data.date}}">
    <section class="event--copy">
        {% if item.data.eyebrow %}
        <span class="card--eyebrow">{{item.data.eyebrow}}</span>
        {% endif %}
        {% if item.data.featured_image.image and item.data.featured_image.image != "" %}
        <section class="card--image">
            <a {% if item.data.link.url != "" %}href="{{item.data.link.url}}"{%endif%}
            {% if size == "small" %}style="background-image: url({{item.data.featured_image.image}}?nf_resize=fit&w=500&h=300)"{% else %}
            style="background-image: url({{item.data.featured_image.image}}?nf_resize=fit&w=1000)" {% endif %}>
                <span class="sr">
                    {{item.data.featured_image.alt}}
                </span>
            </a>
        </section>
        {% endif %}
        <h2 class="card--title">
            {{item.data.title}}
        </h2>
        <div class="card--copy">
            {{item.data.introduction}}
        </div>
        <div class="card--data">
            <p class="event--datum">
                <span>{{item.data.location}}</span>
                <span>{{item.data.date | date: "%B %e, %Y"}}</span>
            </p>
            {% if item.data.link.url != "" %}
            <a class="btn active" href="{{item.data.link.url}}">
                {{item.data.link.text}}
            </a>
            {% endif %}
        </div>
    </section>
</li>