<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{settings.site_title}}{% if title %} / {{title}}{% endif %}</title>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

<meta property="og:image" content="/og-image.jpg">
<meta property="og:title" content="{{settings.site_title}}{% if title %} / {{title}}{% endif %}">
<meta property="og:description" content="{{settings.site_description}}">
<meta property="og:url" content="https://www.adalbertolonardi.com/">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@adalbertolonard">
<meta name="twitter:creator" content="@adalbertolonard">
<meta name="twitter:title" content="{{settings.site_title}}{% if title %} / {{title}}{% endif %}">
<meta name="twitter:description" content="{{settings.site_description}}">
<meta name="twitter:image" content="https://www.theunitedgenerations.com/assets/uploads/2000x1125px6_web@1500w.jpg">
