<li class="card news-card">
    <p class="card--eyebrow">
        {{item.data.date | date: "%B %e, %Y"}}
    </p>
    {% if item.data.featured_image.image %}
    <section class="card--image">
        <a href="{{item.url}}"
            style="background-image: url({{item.data.featured_image.image}}?nf_resize=fit&w=1000&h=600)">
            <span class="sr">
                {{item.data.featured_image.alt}}
            </span>
        </a>
    </section>
    {% endif %}
    <h2 class="card--title">
        <a href="{{item.url}}">
            {{item.data.title}}
        </a>
    </h2>
    <section class="card--copy">
        {{item.data.introduction}}
    </section>
    <div class="card--data">
        <a class="btn active" href="{{item.url}}">
            Read more
        </a>
    </div>
</li>