---
layout: base
class: news
---

<header class="post--header">
    <p class="post--eyebrow">
        {{date | date: "%B %e, %Y"}} · {{content | readingTime }} min read
    </p>
    {% if featured_image %}
    <img class="post--thumbnail" src="{{featured_image.image}}?nf_resize=fit&w=1000"
        alt="{{item.data.featured_image.alt}}">
    {% endif %}
    <h2 class="post--title">{{title}}</h2>
    <section class="post--intro">
        {{introduction}}
    </section>
</header>
<main class="post--content">
    {{content}}
</main>